<div closeable="news1">

  <div class="alert alert-info" ng-if="visible">
    <button type="button" class="close" ng-click="close()">&times;</button>

    <p><strong>Hey !</strong> Je viens d'investir dans un nouveau disque dur de <strong>3 To</strong> pour booster la capacité du serveur, donc attendez-vous
    à pas mal de nouveautés dans les prochaines semaines !</p>

    <p>D'ailleurs n'hésitez pas à m'envoyer un message si vous cherchez un <strong>film</strong> ou une <strong>série</strong>, la page <a ui-sref="new-request"><u>requête</u></a> est là pour ça !</p>

    <p>Et si vous souhaitez soutenir cette initiaitive, j'ai rajouté un petit bouton "Buy me a beer" :)</p>

  </div>
</div>
