<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" ui-sref="mediatheque">
        Divx Manager <strong>V2</strong>
      </a>
      <div class="nav-collapse">
        <ul class="nav" auto-active-link>
          <li><a ui-sref="mediatheque">Médiathèque</a></li>
          <li><a ui-sref="new-request">Envoyer une requête</a></li>
        </ul>

        <div class="pull-right"><a href="/logout" target="_self" class="btn btn-small btn-inverse"><i class="icon-off icon-white"></i></a></div>
      </div>
    </div>
  </div>
</div>
