
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8 offset2">

      <h2>Le film ou la série qui vous intéresse n'est pas dans la liste ?</h2>
      <p class="well-small well">Envoyez moi son petit nom, et si je l'ai sous la main (entendre, si il est disponible sur mon
        <abbr title="espace de partage de films de vacances entre citoyens respectueux de la loi et de l'industrie cinématographique">tracker torrent</abbr>), je le rajouterais
        <abbr title="Bah ASAP quoi !">ASAP</abbr>.</p>

      <div ng-if="done">
        <div class="alert alert-success text-center">
          <p>Un pigeon voyageur a été envoyé pour délivrer votre missive.</p>
          <a class="btn" href="javascript:void(0)" ng-click="retry()">Envoyer une nouvelle requête</a>
        </div>
      </div>

      <form ng-if="!done" name="form" class="form-horizontal" novalidate>
        <fieldset>

          <div ng-if="error" class="alert alert-error">
            Heu... y'a eu un blem, le message n'est pas parti !<br />
            Préviens moi, je règlerais ça rapidement :)
          </div>

          <div class="control-group">
            <label class="control-label" for="type">Média</label>
            <div class="controls">
              <select class="input-xlarge" ng-model="req.type" id="type" required>
                <option>Film</option>
                <option>Série</option>
                <option>Jeux</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="titre">Titre</label>
            <div class="controls">
              <input type="text" id="titre" ng-model="req.titre" name="titre" placeholder="Titre du média" class="input-xlarge" required />
            </div>

            <div ng-show="form.titre.$dirty && form.titre.$invalid">
              <span ng-show="form.titre.$error.required">Désolé, ma voyante est en grêve, va falloir me dire ce que tu veux !</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="qualite">Qualité</label>
            <div class="controls">
              <select class="input-xlarge" id="qualite" ng-model="req.qualite" required>
                <option>Pas de préférence</option>
                <option>Normal (environ 700mo)</option>
                <option>HD-Ready 720p (environ 4go)</option>
                <option>Full-HD 1080p (Environ 8go)</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="langue">Langue</label>
            <div class="controls">
              <select class="input-xlarge" id="langue" ng-model="req.langue" required>
                <option>Pas de préférence</option>
                <option>FR</option>
                <option>VostFR</option>
                <option>VO (Je ne sais même pas pourquoi je le met celui là !)</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="com">Un commentaire ?</label>
            <div class="controls">
              <textarea id="com" name="com" ng-model="req.com" style="width: 325px; height: 60px"></textarea>
            </div>
          </div>

          <div class="control-group">
            <div class="form-actions">
              <button type="button" class="btn btn-primary" ng-click="send()" ng-disabled="form.$invalid">Envoyer</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>

