<!-- Icon -->
<td><img ng-src="{{entry | fileicon}}" alt="{{entry.extension}}" /></td>

<!-- Name-->
<td ng-if="entry.isFile">
  <span ng-show="mixte && entry.serieName" class="label">{{entry.serieName}}</span>

  <a ng-show="entry.folderType == 'Movie'" href="javascript:void(0)" ng-click="detail(entry)" title="Informations sur le film">{{entry.name}}</a>
  <span ng-show="entry.folderType != 'Movie'">{{entry.name}}</span>

  <span ng-if="entry.details.year">(<strong>{{entry.details.year}}</strong>)</span>

  <a href="/api/download/{{entry.path}}" target="_self" title="Télécharger {{entry.name}}">
    <img src="/assets/images/download.png" />
  </a>
</td>
<td ng-if="!entry.isFile">
  <a ui-sref="mediatheque.folder({dir: entry.path})" title="{{entry.rawName}}">{{entry.name}}</a>
</td>

<!-- TvShow -->
<td>
  <span ng-if="entry.details.season" class='label label-inverse'>{{entry.details.season}}</span>
  <span ng-if="entry.details.episode" class='label label-inverse'>{{entry.details.episode}}</span>
</td>

<td>
  <!-- Allocine -->
  <span ng-if="entry.isFile && entry.folderType == 'Movie'">
    <a href="http://www.allocine.fr/recherche/1/?q={{entry.name}}" target='_blank'><img src='/assets/images/allocine.ico' height='15' width='15' /></a>&nbsp;&nbsp;
  </span>

  <!-- Qualité -->
  <span ng-if="entry.details.quality == '720p'" class='label label-warning'>720p</span>
  <span ng-if="entry.details.quality == '1080p'" class='label label-success'>1080p</span>

  <!-- Langue -->
  <span ng-if="entry.details.lang == 'vostfr'" class='label'>vostfr</span>
  <span ng-if="entry.details.lang == 'multi'" class='label label-success'>multi</span>
  <span ng-if="entry.details.lang == 'vo'" class='label label-warning'>vo</span>
  <span ng-if="entry.details.lang == 'vfq'" class='label label-important'>VFQ</span>
</td>

<td>{{entry.size}}</td>
<td>{{entry.lastModified}}</td>
