<!-- Icon -->
<td><img ng-src="{{item | fileicon}}" alt="{{item.extension}}" /></td>

<!-- Name-->
<td ng-if="item.isFile">
  <span ng-show="mixte && item.serieName" class="label">{{item.serieName}}</span>

  <a ng-show="item.folderType == 'Movie'" href="javascript:void(0)" ng-click="detail(item)" title="Informations sur le film">{{item.name}}</a>
  <span ng-show="item.folderType != 'Movie'">{{item.name}}</span>

  <span ng-if="item.details.year">(<strong>{{item.details.year}}</strong>)</span>

  <a href="/api/download/{{item.path}}" target="_self" title="Télécharger {{item.name}}">
    <img src="/assets/images/download.png" />
  </a>
</td>
<td ng-if="!item.isFile">
  <a ui-sref="mediatheque.folder({dir: item.path})" title="{{item.rawName}}">{{item.name}}</a>
</td>

<!-- TvShow -->
<td>
  <span ng-if="item.details.season" class='label label-inverse'>{{item.details.season}}</span>
  <span ng-if="item.details.episode" class='label label-inverse'>{{item.details.episode}}</span>
</td>

<td>
  <!-- Allocine -->
  <span ng-if="item.isFile && item.folderType == 'Movie'">
    <a href="http://www.allocine.fr/recherche/1/?q={{item.name}}" target='_blank'><img src='/assets/images/allocine.ico' height='15' width='15' /></a>&nbsp;&nbsp;
  </span>

  <!-- Qualité -->
  <span ng-if="item.details.quality == '720p'" class='label label-warning'>720p</span>
  <span ng-if="item.details.quality == '1080p'" class='label label-important'>1080p</span>

  <!-- Langue -->
  <span ng-if="item.details.lang == 'vostfr'" class='label'>vostfr</span>
  <span ng-if="item.details.lang == 'multi'" class='label label-success'>multi</span>
  <span ng-if="item.details.lang == 'vo'" class='label label-warning'>vo</span>
</td>

<td>{{item.size}}</td>
<td>{{item.lastModified}}</td>
