<!-- Icon -->
<td><img src="{{entry | fileicon}}" alt="{{entry.extension}}" /></td>

<!-- Name-->
<td ng-if="entry.isFile">
  <a href="/api/download/{{entry.path}}" title="{{entry.rawName}}" target="_self">{{entry.name}}</a>
  <span ng-if="entry.details.year">(<strong>{{entry.details.year</strong></span>
</td>
<td ng-if="!entry.isFile">
  <a ui-sref="mediatheque.folder({dir: entry.path})" title="{{entry.rawName}}">{{entry.name}}</a>
</td>

<!-- TvShow -->
<td>
  <span ng-if="entry.details.season" class='label label-inverse'>{{entry.details.season}}</span>
  <span ng-if="entry.details.episode" class='label label-inverse'>{{entry.details.episode}}</span>
</td>

<td>
  <!-- Allocine -->
  <span ng-if="entry.isFile">
    <a href="http://www.allocinentry.fr/recherche/?q={{entry.name}}" target='_blank'>
      <img src='/assets/images/allocine.ico' height='15' width='15' />
    </a>&nbsp;&nbsp;
  </span>

  <!-- Qualité -->
  <span ng-if="entry.details.quality == '720p'" class='label label-warning'>720p</span>
  <span ng-if="entry.details.quality == '1080p'" class='label label-important'>1080p</span>

  <!-- Langue -->
  <span ng-if="entry.details.lang == 'vostfr'" class='label'>vostfr</span>
  <span ng-if="entry.details.lang == 'multi'" class='label label-success'>multi</span>
  <span ng-if="entry.details.lang == 'vo'" class='label label-warning'>vo</span>
</td>

<td>{{entry.size}}</td>
<td>{{entry.lastModified}}</td>
