@main("Divx Manager") {
    
	<table class="table table-striped">
		<thead>
			<th></th>
			<th><a href="#" class="link-reload" data-column="name" data-order="asc">Nom</a> (<a href="#" class="link-reload" data-column="year" data-order="asc">Année</a>)</th>
			<th><a href="#" class="link-reload" data-column="season" data-order="asc">Saison</a></th>
			<th><a href="#" class="link-reload" data-column="quality" data-order="asc">Qualité</a></th>
			<th><a href="#" class="link-reload" data-column="size" data-order="asc">Taille</a></th>
			<th><a href="#" class="link-reload" data-column="date" data-order="asc">Date d'ajout</a></th>
		</thead>
		<tbody id="list-body">
		
		</tbody>
	</table>

	<div id="api"></div>
}